* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.header {

    border-bottom: solid black 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & img {
        width: 50px;
        margin-right: 30px;
    }
    & .logotitle {
        display: flex;
        align-items: center;
        font-size: 50px;            
    }   
}
.topicos {
    justify-content: right;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    background: linear-gradient(to right, #c1c1c1, #000000);

    & ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    & li a{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Bona Nova SC", serif;
    padding: 0 20px;
    }  
}

.topicos li a:hover {
    background-color: #c1c1c1;
    color: black;
    border-radius: 10px;
    transition: 0.3s;
}

.fotos {
    display: flex;
    margin-top: 1rem;
    
    
    & img {
        width: 380px;
        margin-right: 70px;
        margin-bottom: 30px;
    }
}

.historia{  
    
    font-family: "Roboto", sans-serif;

    & h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: "Bona Nova SC", serif;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.topicos2 {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px;
    background: linear-gradient(to left, #c1c1c1, #000000);
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-family: "Bona Nova SC", serif;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Bona Nova SC", serif;
    
}

.subtitulo {
    display: flex;
    justify-content: center;
    
    & tr, td {
        border: 2px, solid black;
        padding: 10px;
        text-align: center;
        width: 300px;
        font-family: "roboto", sans-serif;
        font-size: 16px;            
    }
    & .cabecalho {
        font-size: 20px;
        text-transform: uppercase;
        font-size: bolder;
        background-color:rgb(23, 22, 22);
        color: white;
    }

    & img {
        width: 40px;
        margin-right: 30px;
    }
    
}

.subtitulo2 {

    display: inline-block;
    margin-top: 5px;
    margin-right: 50px;
    
    

    & tr, td {
        border: 2px, solid black;
        padding: 10px;
        text-align: center;
        width: 300px;
        font-family: "roboto", sans-serif;
        font-size: 16px;     
    }

    & .cabecalho {
        font-size: 20px;
        text-transform: uppercase;
        font-size: bolder;
        background-color:rgb(23, 22, 22);
        color: white;
    }

    & .pos {
        width: 5px;
    }

    & .pos1 {
        background-color: #ffffff;
        width: 5px;
        border: none;
    }
    
    & .pos2 {
        font-size: 20px;
        text-transform: uppercase;
        font-size: bolder;
        background-color:rgb(23, 22, 22);
        color: white; 
    }


}

.nacionalidade{

    & img {
        width: 20px;
        margin-right: 5px;
    }
}

.center {
    display: flex;
    justify-content: center;
    
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 20px;
    
    & h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "Bona Nova SC", serif;
    }

    & img {
        width: 40px;
        margin-right: 25px;
        padding: 5px;
        
    }
    
}

.animacao {

    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "Bona Nova SC",  sans-serif;
    border-right: 1px solid;
    white-space: nowrap;
    width: 14ch;
    overflow: hidden;
    animation: animaTexto steps(13) 1s, animaMarcador 0.5s linear infinite;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 20px;
    background: linear-gradient(to left, #c1c1c1, #000000);
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Bona Nova SC", serif;

    & h2 {
        color: white;
    }
}

@keyframes animaMarcador {
    50% {
        border-right: transparent;
    }
}

@keyframes animaTexto {
    0% {
        width: 0;
    }
}

@media(max-width: 900px) {

    .container {
        width: 100%;
        overflow: hidden;
    }  

    .header {

        & img {
            width: 30px;
            margin-right: 15px;
        }
        & .logotitle {
            display: flex;
            align-items: center;
            font-size: 20px;  
            margin: 10px 30px 10px 10px;          
        }   
    }

    .topicos {
        width: 100%;
        padding: 8px 10px 8px 10px;

        & ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
        }
    
        & li {
            margin: 0;
        }
    
        & li a{
        font-size: 15px;
        }  
    }

    .animacao {
        font-size: 12px;
        margin: 5px 0 5px 10px;
    }

    .fotos {
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        & img {
            width: 110px;
            margin: 0 10px 10px 10px;
        }
    }
    
    .historia{  
        
        font-family: "Roboto", sans-serif;
    
        & h2 {
            margin: 10px 0 10px 10px;
            font-size: 13px;
        }

        & p {
            font-size: 12px;
            padding: 0px 10px 0px 10px;
        }
    }
    .topicos2 {
        margin: 10px auto;
        padding: 8px 10px 8px 10px;
        font-size: 18px;
    }

    .titulo {
        font-size: 15px;
    }
    
    .subtitulo {
        width: 100%;
        padding: auto 10px auto 10px;
        
        & tr, td {
            border: 1px solid black;
            padding: 2px 2px;
            width: 100px;
            font-size: 12px;    
            text-align: center;     
        }
        & .cabecalho {
            font-size: 20px;
            padding: 0;
        }
    
        & img {
            width: 20px;
            align-items: center;
            padding: 0;
            margin: 0;
        }    
    }
    .subtitulo2 {
        margin: 0;

        & tr, td {
            border: 1px solid black;
            padding: 4px 4px;
            width: 200px;
            font-size: 12px;    
            text-align: center; 
            white-space: nowrap;
            margin: 0;   
        }
        & .cabecalho {
            font-size: 20px;
            padding: 0;
            margin: 0;
        }
    
        & img {
            width: 10px;
            align-items: center;
            padding: 0;
            margin-right: 5px;
        }

        & .pos2 {
        font-size: 11px;
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        margin: 10px auto 10px 50px;
    }

    footer {
        display: flex;
        margin: 15px auto 0 10px;
        padding: 2px 4px;
        align-items: center;

        & div {
            display: flex;
            justify-content: right;
        }

        & h2 {
            font-size: 12px;
        }
        
        & img {
            width: 25px;
        }
    }
}

